:root {
  --card-background: #F4F07A;
  --card-background-hover: #B2AD0E;
} 

body {
  margin: 0px 8px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
}